#background {
    min-width: 100% !important;
    max-width: 150% !important;
    max-height: none !important;
}

#search input {
    width: 300px !important;
}

#search input:focus {
    width: 400px !important;
}

#search button {
    width: 40px !important;
}

#search button img {
    height: 24px !important;
}

.bookmark {
    box-sizing: border-box !important;
    width: 150px !important;
    height: 50px !important;
}

#bkList #crtBkBtn {
    box-sizing: border-box !important;
    width: 150px !important;
    height: 40px !important;
}

#crtBk {
    width: 400px !important;
}

#crtBk input {
    width: 70% !important;
}